body,html{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(0, 0, 0)
}

.registeration{
    display: flex;
    margin-left: 31%;
    margin-top: 3%;
    background-color: whitesmoke;
    width:35%;
    height: 600px;
    flex-direction: column;
    border-radius:50px;
}
h1{
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-weight: 300px;
    text-align: center;
    font-size: 220%;
}
.title{ 
    color: rgb(0, 0, 0);
    font-family: 'Courier New', monospace;
    font-weight: 200px;
    text-align: center;
    font-size: 200%;
}
.Inside{
    margin-top: 2%;
    border-color: rgb(236, 116, 51);
    border-width:5px;
    margin-left: 5%;
    margin-bottom:5%;
    border-radius: 0px 50px;
    font-size:110%;
    color: rgb(236, 116, 51);
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    

}
::placeholder{
    text-align: center;
    font-family: 'Courier New', monospace;
    color:rgb(0, 0, 0);
    font-weight: lighter;
}
.row{
    display: flex;
    flex-direction: row;

}
.lab{
      margin-top: 2%;
    border-color: rgb(236, 116, 51);
    border-width:5px;
    margin-left: 25%;
    margin-bottom:5%;
    border-radius: 0px 50px;
    font-size:125%;
    color: rgb(236, 116, 51);
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}
select{
  margin-top: 2%;
  border-color: rgb(236, 116, 51);
  border-width:2px;
  margin-left: 11%;
  margin-bottom:5%;
  font-size:100%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight: bolder;
}
.sub{

}